<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534965906111-8vqas3cmou1n8ulondr16ms954sc9ev3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534965906111-8vqas3cmou1n8ulondr16ms954sc9ev3</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Lkfcwfv1WO06lJiBEO2is4PqCGqnyqY</string>
	<key>GCM_SENDER_ID</key>
	<string>534965906111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>juliusschmid.Schuhe-der-Zukunft</string>
	<key>PROJECT_ID</key>
	<string>schuhe-der-zukunft</string>
	<key>STORAGE_BUCKET</key>
	<string>schuhe-der-zukunft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534965906111:ios:58cf8cd9980918eaa3b40a</string>
</dict>
</plist>